.progress-bar {
    background-color: #c8c8c8;
    height: 15px;
    width: 100%;

    .level {
        background-color: #847cd3;
        height: 15px;
    }

    .level-1 {
        width: 20%;
    }

    .level-2 {
        width: 40%;
    }
    
    .level-3 {
        width: 60%;
    }

    .level-4 {
        width: 80%;
    }

    .level-5 {
        width: 100%;
    }
}