<section id="sectors-x">
    <h3>Professional Experience</h3>
    <span>
        <div class="sector" *ngFor="let sector of getSectorsX()">
            <img [src]="sector.icon" alt="">
            <label for="">{{ sector.name }}</label>
            <span>
                {{ sector.description }}

                <nav>
                    <div class="company-tag tag">AEP</div>
                    <div class="company-tag tag">AEP</div>
                </nav>

            </span>

        </div>
    </span>
</section>
