#sectors-x {
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;

    span {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        min-width: 200px;
    }

    h4 {
        margin: auto;
    }
    .sector {
        display: flex;
        flex-direction: column;
        min-width: 248px;
        gap: 0.5rem;
        max-width: 24%;
        align-items: center;
        text-align: center;

        img {
            width: 60px;
            filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(63%) contrast(60%);
        }
    }
}