<section id="sectors-x">
    <h3>Professional Experience</h3>
    <span>
        <article class="sector" *ngFor="let sector of getSectorsX()">
            <img [src]="sector.icon" alt="">
            <label for="">{{ sector.name }}</label>
            <span>
                {{ sector.description }}

                <nav *ngFor="let company of sector.tags">
                    <div class="tag">{{ company }}</div>
                    
                </nav>

            </span>

        </article>
    </span>
</section>
