$dark-100: #F2F2F2;
$dark-200: #D8D9D7;
$dark-300: #BFBFBD;
$dark-400: #747474;
$dark-500: #575757;
$dark-600: #333333;
$dark-700: #2b2a2a;
$dark-800: #1b1b1b;
$dark-900: #0D0D0D;
$dark-000: #000;

$blue-100: #c6c1f5;
$blue-400: #54a0c5;
$blue-500: #4a4adc;
$blue-800: #322c69;
$blue-900: #212031;
$blue-R00: #0f00dd;

$yellow-600: #ffc04f; 

$light-theme: $dark-900, $dark-200, $dark-100;
$dark-theme: $dark-400, $dark-900, $dark-700;

$light-card-schema: $dark-600, $dark-100, $dark-300;
$dark-card-schema: $dark-400, $dark-800, $dark-700;

$light-button-schema: $dark-500, $dark-100, $dark-100;
$dark-button-schema: $dark-400, $dark-800, $dark-800;

$light-button-selected-schema: $dark-500, $dark-300, $dark-300;
$dark-button-selected-schema: $dark-400, $dark-600, $dark-600;

$light-tag-schema: $dark-600, $dark-100, $blue-100;
$dark-tag-schema: $dark-300, $dark-800, $blue-800;

$switcher-schema: $dark-600, $dark-500, $dark-100;

$light-input-schema: $dark-600, $dark-100, $dark-300;
$dark-input-schema: $dark-300, $dark-800, $dark-500;

$light-carousel-schema: $dark-600, $dark-200, $dark-300;
$dark-carousel-schema: $dark-300, $dark-700, $dark-500;

/* Retro Theme */
$retro-light-theme: $dark-000, $blue-400, $dark-000;

$retro-light-card-schema: $dark-600, $dark-100, $dark-000;

$retro-light-button-selected-schema: $dark-100, $blue-500, $dark-900;

$retro-light-tag-theme: $dark-000, $blue-400, $dark-000;