@use './reset.scss' as *;
@use './colors' as *;

$sections-gap: 0.6rem;
$small-screen: 767px;
$middle-screen: 992px;
$large-screen: 1200px;

body {
    margin: 0;
    padding: 0;
}
main {
    @include color-scheme($light-theme...);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    overflow: hidden;

    section {
        border: 2px;
        @include color-scheme($light-card-schema...);
        border-radius: 0.25rem;
        
    }
    
    button {
        @include color-scheme($light-button-schema...);
        cursor: pointer;
    }

    button.selected {
        @include color-scheme($light-button-selected-schema...)
    }

    fieldset {
        @include color-scheme($light-card-schema...);
        padding: 2rem 1rem;
    }

    select {
        @include color-scheme($light-input-schema...);
        width: 12rem;
        height: 2rem;
        font-size: 14px;
        padding-left: 0.2rem;
    }

    .tag {
        @include color-scheme($light-tag-schema...);
        padding: 0.08rem 0.8rem 0.3rem 0.8rem;
        border-radius: 1rem;
        margin: 0.3rem 0.3rem;
        max-height: 1.5rem;
        white-space: nowrap;
    }

    .pane {
        @include color-scheme($light-card-schema...);
        position: relative;
        animation-name: pane;
        animation-duration: 300ms;
        border: none;
    }

    @keyframes pane {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .link-button, .download-button {
        height: 2rem;
        padding: 0 20px;
        border: 1px solid $blue-800;
        font-weight: 800;
        cursor: pointer;
        border-radius: 0.25rem;
    }

    .link-button:hover,.download-button:hover {
        background-color: $blue-100;
        border: 1px solid $blue-800;
    }

    .theme-switcher {
        
        label {
            @include color-scheme($switcher-schema...)
        }
        
        label:after {
            background: $dark-200;
        }
        
        input:checked + label {
            background: $dark-500;
        }
    }

    .color-schema {
        height: 1.2rem;
        filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(63%) contrast(60%);
    }

    .project {
        @include color-scheme($light-card-schema...);
    }
}

main.dark {
    @include color-scheme($dark-theme...);

    section {
        @include color-scheme($dark-card-schema...);
        border-radius: 5px;
    }

    button {
        @include color-scheme($dark-button-schema...)
    }

    button.selected {
        @include color-scheme($dark-button-selected-schema...)
    }

    fieldset {
        @include color-scheme($dark-card-schema...);
        padding: 2rem 1rem;
    }

    select {
        @include color-scheme($dark-input-schema...);
        width: 12rem;
        height: 2rem;
        font-size: 14px;
    }

    .tag {
        @include color-scheme($dark-tag-schema...);
    }

     .pane {
        @include color-scheme($dark-card-schema...);
        position: relative;
        animation-name: pane;
        animation-duration: 500ms;
        z-index: -1;
    }

    .link-button, .download-button {
        height: 2rem;
        padding: 0 20px;
        border: 1px solid $blue-800;
        font-weight: 800;
        cursor: pointer;
        border-radius: 0.25rem;
    }

    .link-button:hover, .download-button:hover {
        background-color: $blue-900;
    }

    .project {
        @include color-scheme($dark-card-schema...)
    }
}


@media (max-width: $small-screen) {
    header {
        max-width: 100vw;
        margin: auto;

        .menu {
            button {
                font-size: 0;
            }
        }
    }
    main {
        min-height: 100vh;
        section {
            padding: 1.5rem;
            margin: auto;
        }
    }
}

@media (min-width: $small-screen) and (max-width: $large-screen) {
    header {
        max-width: 100vw;
        margin: auto;
        .menu {
            button {
                font-size: smaller;
            }
        }
    }

    main {
        min-height: 100vh;
        section {
            max-width: 100vw;
            padding: 1.5rem;
            margin: auto;
        }
    }
}


@media(min-width: $large-screen) {
    header {
        max-width: 80vw;
        margin: auto;
        .menu {
            button {
                font-size: smaller;
            }
        }
    }

    main {
        min-height: 100vh;
        section {
            max-width: 80vw;
            padding: 1.5rem;
            margin: auto;
        }
    }
}



