@use '../../../../../styles/styles.scss' as *;

.skills {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }

    .skills-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 250px;
        border-radius: 5px;
        justify-content: space-around;
        gap: 1rem;

        h3 {
            text-align: center;
        }

        span {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        div {
            min-width: 250px;
            width: 100%;
            justify-content: start;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            li {
                list-style-type: none;
                span {
                    display: flex;
                    justify-content: space-between;
                }
            }

            li:hover {
                filter: brightness(120%);
                cursor: pointer;
            }
        }

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img {
                height: 1.2rem;
            }
        }


        .skill-mobile-view {
            display: none;
        }
    }

    .skill-pane {
        width: 100%;
        padding: 1.5rem;
        border: 0;

        .pane-header {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
        }


    }

    .skill-period {
        margin-top: 2rem;
        display: flex;
        gap: 0.3rem;
    }
}

.skill-view-mode {

    .skills-container {
        display: flex;
        flex-direction: row;
    
        .skills-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
    
            .skill-selected {
                filter: brightness(60%);
            }

            button {
                border: none;
            }
    
        }
    }

}

@media(max-width: $small-screen) {
    .skills {
        span {
            display: flex;
            justify-content: center;
        }
    }

    .skill-view-mode {
        .skills-container {
            max-height: none;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .skills-list {   
                div {
                    max-width: none;
                }
    
                .skill-mobile-view {
                    display: block;
                    height: auto;
                    padding: 0.5rem 0;
                    margin-bottom: 0.5rem;
    
                    nav {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
    
            .skill-pane {
                display: none;
            }
        }
        }

}

@media(min-width: $small-screen) {
    .skills-list {
        div {
            max-width: 15rem;
        }
    }

    .skill-view-mode {
        .skills-container {
            .skills-list {
                padding: 1.8rem;
            }
        }

    }
    
}