.skills {
    display: flex;
    flex-direction: column;

    .skills-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 200px;
        border-radius: 5px;
        justify-content: space-around;
        overflow-y: auto;
        overflow-x: hidden;
        gap: 1rem;

        h3 {
            text-align: center;
        }

        span {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        div {
            min-width: 200px;
            width: 100%;
            justify-content: start;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            li {
                list-style-type: none;
                span {
                    display: flex;
                    justify-content: space-between;
                }
            }

            li:hover {
                filter: brightness(120%);
                cursor: pointer;
            }
        }

        .skill-mobile-view {
            display: none;
        }
    }

    .skill-pane {
        width: 100%;
        padding: 1.5rem;
        border: 0;
        text-align: justify;
    }
}

.skill-view-mode {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: 100vh;

    .skills-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .skill-selected {
            filter: brightness(60%);
        }

    }
}

@media(max-width: 680px) {
    .skills {
        span {
            display: flex;
            justify-content: center;
        }
    }

    .skill-view-mode {
        max-height: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        .skills-list {   
            div {
                max-width: none;
            }

            .skill-mobile-view {
                display: block;
                height: auto;
                padding: 0.5rem 0;
                margin-bottom: 0.5rem;
            }
        }

        .skill-pane {
            display: none;
        }
    }
}

@media(min-width: 680px) {
    .skills-list {
        div {
            max-width: 15rem;
        }
    }

    .skill-view-mode {
        .skills-list {
            padding-right: 2rem;
        }
    }
    
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
  }