$sections-gap: 0.6rem;
$small-screen: 480px;
$middle-screen: 680px;
$large-screen: 1000px;

main {
    padding: 0.6rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 0.3rem;
    padding: 0px 5px;

    .menu {
        display: flex;
        justify-content: center;
        margin: 0.3rem;
        gap: 0.2rem;
    
        button {
            border-radius: 0.6rem;
            padding: 0.2rem 1rem;
            font-size: 0;
        }
    
  
    }

    .color-schema {
        height: 1.2rem;
        filter: invert(71%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(63%) contrast(60%);
    }
}
