

<main class="main">
  <article>
    <section id="personal-information">
      <span>
        <div class="profile-photo">
          <img src="assets/my-profile-photo.jpg" alt="my photo">
        </div>
        <div class="job-title">
          <h2>Michel Alves</h2>
          <h4>FullStack Developer</h4>
          <h4>9 years experience</h4>
        </div>
      </span>

      <div class="contact">
          <span>Phone: +55 (15) 99791-7786</span>
          <span>
              
              <a href="https://www.linkedin.com/in/michel-alves-bb40b463/" target="_blank">
                Linkedin
              </a></span>
          <span>
             
            <a href="https://github.com/MichelAlves01" target="_blank">
              GitHub
            </a></span>
  
              
      </div>
    </section>
    <section id="summary">
      <h4>Summary</h4>
      <blockquote>
        9+ years experience with Web Development,
Back-end development with expertise in ( Java, Spring boot, NodeJs ),
front-end development with expertise in ( Angular, Typescript, JavaScript ) and 
Experience developing software for  (Financial, Telecom, Electricity, Energy & Utilities etc)  sectors.

      </blockquote>
    </section>
    <app-skills></app-skills>
    <app-sectors-x></app-sectors-x>
    <footer>
      <blockquote>Portfolio web developed using Angular 17.02, SCSS, HTML5 </blockquote>
    </footer>
  </article>

</main>