<div class="main">
    <section class="summary-info">
      <div id="personal-information">
        <span>
          <div class="profile-photo">
            <img src="assets/my-profile-photo.jpg" alt="my profile photo">
          </div>
          <div class="job-title">
            <h1>Michel Alves</h1>
            <h3>FullStack Developer</h3>
            
          </div>
        </span>
      </div>
      <div class="about-me">
        <article>
          <div class="about-me-text">
            <h2>Hello, welcome to my portfolio!</h2>
              <p>I began my career as a Software Engineer in 2012, and since then, I’ve had the opportunity to work with leading companies such as GFT Brazil, NTT Data, and IBM Brazil (my current employer).</p>
              <p>Throughout my journey, I’ve worked on both back-end and front-end development. On the back-end, I’ve gained experience with Java using the Spring Boot framework and Node.js using Express. On the front-end, I’ve worked with JavaScript frameworks such as Angular and ReactJS.</p>
            <p>I’ve also had the opportunity to contribute to projects in various sectors, including Financial Services, Telecommunications, Electricity, and Energy & Utilities.</p>
          </div>

          <nav class="summary-links">
            <span>
              <button
                class="link-button"
                (click)="openLinkedinProfile()" 
                aria-label="Check my linkedin page"
                tabindex="0">
                  Linkedin
              </button>
          </span>
          <span>
            <button 
              class="link-button"
              (click)="openGitHubProfile()"
              aria-label="Check my GitHub page"
              tabindex="0">
                GitHub
            </button></span>
          </nav>
        </article>
      </div>
    </section>
    
  <app-skills></app-skills>
  <app-sectors-x></app-sectors-x>  
</div>
