$sections-gap: 0.6rem;
$small-screen: 480px;
$middle-screen: 680px;
$large-screen: 1000px;

article {
    display: flex;
    flex-direction: column;
    gap: $sections-gap;

    #personal-information {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1.5rem 0;
        align-items: center;
        gap: $sections-gap;
    
        .profile-photo img {
            height: 10rem;
            border-radius: 50%;
        }
    }
    
    #summary {
        padding: 0.4rem;

        .summary-links {
            display: flex;
            justify-content: end;
            gap: $sections-gap;
            position: relative;
            top: 1.5rem;
        }
    }
}

@media(max-width: $middle-screen) {
    .summary-info {
        display: flex;
        flex-direction: column;

        #personal-information {
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 2rem;
            text-align: center;
            span {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media(min-width: $middle-screen) and (max-width: $large-screen) {
    .summary-info {
        display: grid;
        grid-template-columns: 25% 75%;
    }

}


@media(min-width: $large-screen) {
    article {
        max-width: 80vw;
        margin: auto;

        .summary-info {
            display: grid;
            grid-template-columns: 25% 75%;

        }
    }
}
