@use '../../../styles/colors.scss' as *;
@use '../../../styles/styles.scss' as *;

$sections-gap: 0.6rem;

.main {
    display: flex;
    flex-direction: column;
    gap: $sections-gap;

    #personal-information {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        padding: 1.5rem 0;
        align-items: center;
        gap: $sections-gap;
        min-width: 25vw;
    
        .profile-photo img {
            height: 10rem;
            border-radius: 50%;
        }
    }
    
    .about-me {
        padding: 0.4rem;
        text-align: justify;

        .about-me-text {
            font-size: large;
        }

        .summary-links {
            display: flex;
            justify-content: end;
            gap: $sections-gap;
            margin-top: 2rem;
        }
    }
}

@media (max-width: $small-screen) {
    .summary-info {
        display: flex;
        flex-direction: column;

        #personal-information {
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 2rem;
            text-align: center;
            span {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media (min-width: $small-screen) and (max-width: $large-screen) {
    .summary-info {
        display: grid;
        grid-template-columns: 25% 75%;

        .about-me {
            padding-right: 7%;
        }
    }

}


@media(min-width: $large-screen) {
    .main {
        margin: auto;

        .summary-info {
            display: grid;
            grid-template-columns: 25% 75%;

            .about-me {
                padding-right: 7%;
            }
        }
    }
}
