<div class="main">
    <div class="project-container">
        <article class="project">
            <header>
                <h3>Chef list - Shopping List and Recipes</h3>
                <nav>
                    <div class="tag">Not Deployed</div>
                    <div class="tag">In progress</div>
                </nav>
            </header>
            <legend>this project has this legend</legend>
            <div class="project-content">
                <app-carousel [slides]="slides"></app-carousel>
            </div>
            <div class="project-links">
                <button
                    class="link-button"
                    aria-label="Check my linkedin page"
                    tabindex="0">
                    Open live
                </button>
                <button
                    class="link-button"
                    aria-label="Check my linkedin page"
                    tabindex="0">
                        Open GitHub
                </button>
                <button
                    class="link-button"
                    aria-label="Check my linkedin page"
                    tabindex="0">
                    Open Technical Doc
                </button>
            </div>
        </article>

        <article class="project">
            <header class="project-header">
                <h3>Tic Tac Toe</h3>
                <nav>
                    <div class="tag">live</div>
                    <div class="tag">Complete</div>
                </nav>
            </header>
            <legend>This is a simple game developed with React JS</legend>
            <div class="project-content">
                <iframe src="https://michelalves01.github.io/tic-tac-toe/" description=""></iframe>
            </div>
            <div class="project-links">
                <button
                    class="link-button"
                    (click)="handleNavigateTo('https://michelalves01.github.io/tic-tac-toe/')"
                    aria-label="Check my linkedin page"
                    tabindex="0">
                    Open live
                </button>
                <button
                    class="link-button"
                    (click)="handleNavigateTo('https://github.com/MichelAlves01/tic-tac-toe')"
                    
                    aria-label="Check my linkedin page"
                    tabindex="0">
                        Open GitHub
                </button>
            </div>
        </article>
    </div>
</div>
